<div class="article">
  <h2 id="sub_header">
    <span>Password reset</span>
  </h2>

   <div id="flashes">
      <% if flash[:notice] -%> 
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <% if flash[:warning] -%> 
        <div id="warning"><%= flash[:warning] %></div>
      <% end -%>
      <% if flash[:error] -%> 
        <div id="error"><%= flash[:error] %></div>
      <% end -%>
    </div>

  <div class="login_div">
    <div align="center">
      <% form_tag submit_password_reset_sessions_path do %>
        <table class="login">
          <tr>
            <td>Login:</td>
            <td><%= text_field_tag 'login', params[:login] %></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><%= text_field_tag 'email', params[:email] %></td>
          </tr>
          <td></td>
          <td style="color:red; text-align:right;"> 
            <%= submit_tag 'Reset password' %>
            <%= link_to 'Cancel', sessions_path, :class=>"cancel" %>
          </td>
          </tr>
        </table>
      <% end -%>
    </div>
  </div>

</div>