<td class="td_new td_edit status" style='display:none;'><%= online_status_image(user) %></td>
<td class='td_new td_edit' style='display:none;'><%= link_to user.user_name, user, :id=>user.id, :class=>"profile_info" %></td>
<td class='td_new td_edit' style='display:none;'><%= h user.full_name %></td>
<td class='td_new td_edit' style='display:none;'><%= h link_to user.twitter_name, twitters_path({:user_id => user.id}) %></td>
<td class='td_new td_edit' style='display:none;'><%= user.last_access %></td>
<td class='td_new td_edit' style='display:none;'><%= link_to 'Edit', edit_user_path(user), :id => "#{user.id}", :class=>"edit_user" %></td>
<td class='td_new td_edit' style='display:none;'><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>