<div id="content" class="profile_info" style="display:none;">

  <div class="article">
    <h2 id="sub_header"><span><%=h @user.full_name %></span></h2>

    <p>
      <b>User name:</b>
      <%=h @user.user_name %>
    </p>

    <p>
      <b>Full name:</b>
      <%=h @user.full_name %>
    </p>

    <p>
      <b>Email:</b>
      <%=h @user.email %>
    </p>

    <p>
      <b>Twitter name:</b>
      <%=h @user.twitter_name %>
    </p>
    
    <p>
      <b>Discussions:</b>
      <% if @user.subjects.present? %>
        <b><%=link_to "Subjects (#{@user.subjects.size})", subjects_path({:user_id=>@user.id})%></b>
        =
        <%= @user.books ? (link_to "Books (#{@user.books.size})", books_path({:user_id=>@user.id})) : "Books (-)"%>
        +
        <%= @user.movies ? (link_to "Movies (#{@user.movies.size})", movies_path({:user_id=>@user.id})) : "Movies (-)"%>
        +
        <%= @user.music_artists ? (link_to "Music artists (#{@user.music_artists.size})", music_artists_path({:user_id=>@user.id})) : "Music artists (-)"%>
      <%else%>
        -
      <%end%>
    </p>
    
     <p>
      <b>Comments:</b>
      <%=h @user.comments.size %>
    </p>
  </div>
</div>