<%= javascript_include_tag "twitters" %>

<div class="article">
  <h2 id="sub_header"><span><%= current_user.full_name %> tweets</span></h2>

  <%= flashes(flash) %>

  <% @tweets.each do |tweet| %>
    <div class="tweet" style="display:none;">
      <p class="comment">
        <span class="date"><%=h tweet.created_at.to_datetime.strftime("%Y.%m.%d") %> @ <%=h (tweet.created_at.to_datetime + 2.hours).strftime("%H:%M") %>
      </p>
      <p class="comment_text">
        <%= tweet.text%>
      </p>
      <br />
    </div>
  <%end%>

  <div class='loading'></div>

</div>
