<% @subjects.each do |subject| %>
  <div class="article">
    <h2><span><%= link_to subject.title, subject %></a></span></h2>
    <p class="info noprint">
      <span class="date"><%=h subject.updated_at.strftime("%Y.%m.%d") %> @ <%=h subject.updated_at.strftime("%H:%M") %></span><span class="noscreen">,</span>
      <span class="cat"><%= link_to subject.type, subjects_path, :title => "Category - #{subject.type}"%></span><span class="noscreen">,</span>
      <span class="user"><%= link_to subject.user.full_name, nil, :id=> subject.user.id, :class=>"profile_info", :title => "Author - #{subject.user.full_name}" %></span><span class="noscreen">,</span>
      <span class="comments"><%= link_to "Comments (#{subject.comments.size})", subject %></a></span>
      <%= get_favorite(subject) %>

    <p><%=h truncate(subject.description.gsub(/<.*?>/,''), 256) %></p>
    

    <p class="btn-more box noprint"><strong><%= link_to "Continue", subject %></strong></p>
  </div>
  <br/>
<% end %>
  
  
  
  <!--new_movie_path #new_book_path #new_music_artist #new_polymorphic_path(params[:controller].singularize) %>-->